<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"/>
</head>
<body>
<div id="page-container">
    <div id="content-wrap">
        <th:block th:include="~{fragments/nav-bar}"/>
        <div id="row">
            <p class="totalPrice" th:text="'Total: $'+${totalSum}"></p>
            <form th:action="@{/orders/checkout}">
                <button th:if="${totalSum > 0}" type="submit" class="example_a">Checkout</button>
            </form>
            <br>

            <div th:if="${success}">
                <p class="product-price">Your order is being processed.</p>
            </div>
            <div class="product" th:each="order : ${cart}">
                <p class="product-name" th:text="${order.product.name}"/>
                <img class="product-img" th:src="${order.product.imageUrl}"/>
                <p class="product-price" th:text="'$'+${order.product.price}"></p>
                <p class="product-category" th:text="${order.product.category.name}"/>
                <p class="product-price" th:text="${order.quantity}"/>
                <form th:action="@{/orders/remove-from-cart/} + ${order.id}">
                    <button type="submit" class="example_a">Remove from Cart</button>
                </form>
            </div>
        </div>

        <footer>
            <th:block th:include="~{fragments/footer}"/>
        </footer>
    </div>
</div>
</body>
</html>