
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<th:block th:include="~{fragments/admin-nav-bar}"></th:block>
<div id="row">
</div>
<div id="loader"></div>
<script>
    $(document).ready(function () {

        var url = "http://localhost:8888/api/products/all";

        $.getJSON(url, function (data) {
            var $loading = $('#loader').hide()
            $(document)
                .ajaxStart(function () {
                    $loading.show();
                })
            $.each(data, function (index, value) {
                $('#row').append('<div class="product" >' +
                    '<p class="product-name" >'+ value.name + '</p>' +
                    '<img class="product-img" src="' + value.imageUrl +'"/>'+
                    '<p class="product-price">$'+ value.price + '</p>' +
                    '<p class="product-category">'+ value.category.name + '</p>' +
                     '<a class="example_a" href="/products/edit/'+value.id+'">Edit</a>' +
                     '<form method="post" action="/products/delete/'+value.id+'"><button type="submit" class="example_a">Delete</button></form></div>');
            })

                .ajaxStop(function () {
                    $loading.hide();
                });
        });
    });
    $(window).bind("load", function() {

        var footerHeight = 0,
            footerTop = 0,
            $footer = $("#footer");

        positionFooter();

        function positionFooter() {

            footerHeight = $footer.height();
            footerTop = ($(window).scrollTop()+$(window).height()-footerHeight)+"px";

            if ( ($(document.body).height()+footerHeight) < $(window).height()) {
                $footer.css({
                    position: "absolute"
                }).animate({
                    top: footerTop
                })
            } else {
                $footer.css({
                    position: "static"
                })
            }

        }

        $(window)
            .scroll(positionFooter)
            .resize(positionFooter)

    });
</script>
<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</body>
</html>
