
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<th:block th:include="~{fragments/nav-bar}"></th:block>
<div id="row">
    <h1 class="select-category">Select category</h1>
</div>
<div id="loader"></div>
<script>
    $(document).ready(function () {

        var url = "http://localhost:8888/api/categories/all";

        $.getJSON(url, function (data) {
            var $loading = $('#loader').hide()
            $(document)
                .ajaxStart(function () {
                    $loading.show();
                })
            $.each(data, function (index, value) {
                $('#row').append('<div class="product" >' +
                    '<p class="product-name" >'+ value.name + '</p>' +
                    '<img class="product-img" src="' + value.imageUrl +'"/>'+
                    '<div  class="button_cont"><a class="example_a" href="/products/all/'+value.id+'">SELECT</a></div>');
            })

                .ajaxStop(function () {
                    $loading.hide();
                });
        });
    });
</script>
<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</body>
</html>
