
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<th:block th:include="~{fragments/nav-bar}"></th:block>
<div id="row">
    <div class="product" th:each="product : ${products}">
    <p class="product-name" th:text="${product.name}"/>
    <img class="product-img" th:src="${product.imageUrl}"/>
        <p class="product-price" th:text="'$'+${product.price}"></p>
    <p class="product-category" th:text="${product.category.name}"/>
    <form method="post" th:object="${model}" th:action="@{/orders/add-to-cart/} + ${product.id}">
        <input type="number" min="1" required th:field="*{quantity}" name="quantity" placeholder="quantity">
        <div th:if="${#fields.hasErrors('${model.quantity}')}">
            <p th:each="err : ${#fields.errors('${model.quantity}')}" th:text="${err}">
            </p>
        </div>
        <button type="submit" class="example_a">Add to Cart</button>
    </form>
</div>
</div>
<script>
    $(window).bind("load", function() {

        var footerHeight = 0,
            footerTop = 0,
            $footer = $("#footer");

        positionFooter();

        function positionFooter() {

            footerHeight = $footer.height();
            footerTop = ($(window).scrollTop()+$(window).height()-footerHeight)+"px";

            if ( ($(document.body).height()+footerHeight) < $(window).height()) {
                $footer.css({
                    position: "absolute"
                }).animate({
                    top: footerTop
                })
            } else {
                $footer.css({
                    position: "static"
                })
            }

        }

        $(window)
            .scroll(positionFooter)
            .resize(positionFooter)

    });
</script>
<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</body>
</html>
