
<!DOCTYPE html>
<html lang="en"xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"/>
</head>
<body>
<th:block th:include="~{fragments/admin-nav-bar}"></th:block>
<div class="createProduct">
<form method="POST" th:action="@{/admins/products-manager/create-category}" th:object="${category}" enctype="multipart/form-data">
    <input type="text" id="name" th:field="*{name}" name="categoryName"
           placeholder="category name">
    <div th:if="${#fields.hasErrors('${category.name}')}">
        <p th:each="err : ${#fields.errors('${category.name}')}" th:text="${err}">
        </p>
    </div>
    <br>
    <div class="upload-btn-wrapper">
        <button class="btn">Upload a image</button>
        <input type="file" th:field="*{image}" name="image" />
    </div>
    <div th:if="${#fields.hasErrors('${category.image}')}">
        <p th:each="err : ${#fields.errors('${category.image}')}" th:text="${err}">
        </p>
    </div>
    <br>
    <br>
    <input type="submit" value="Create">
</form>
</div>
<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</body>
</html>
