<th:block>
    <th:block sec:authorize="isAnonymous()">
        <nav>
            <div id='cssmenu'>
                <ul>
                    <li style="float: left"><a th:href="@{/}"><span>MyShop</span></a></li>
                    <li style="float: left"><a href='#'><span>Products</span></a></li>
                    <li style="float: right"><a th:href="@{/users/register}"><span>Register</span></a></li>
                    <li style="float: right"><a th:href="@{/users/login}"><span>Login</span></a></li>
                </ul>
            </div>
        </nav>
    </th:block>

    <th:block sec:authorize="isAuthenticated()">
        <nav>
            <div id='cssmenu'>
                <ul>
                    <li style="float: left"><a th:href="@{/home}"><span>MyShop</span></a></li>
                    <li style="float: left"><a href='#'><span>Products</span></a></li>
                    <li style="float: right"><a th:href='@{/logout}'><span>Log Out</span></a></li>
                    <li style="float: right"><a href='#'><span>Profile</span></a></li>
                    <th:block sec:authorize="hasAuthority('MODERATOR')">
                        <li style="float: left"><a th:href="@{/admins/panel}"><span>Admin Panel</span></a></li>
                    </th:block>
                    <li class="last" style="float: right"><a href="#"><span>Cart</span></a></li>
                </ul>
            </div>
        </nav>
    </th:block>
</th:block>