<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"/>
</head>
<body>
<div class="wrapper fadeInDown">

    <div id="formContent">
        <h2 class="active"> Log in </h2>
        <form method="POST" th:action="@{/users/login}">
            <input type="text" id="login" class="fadeIn second" name="username"
                   placeholder="username">
            <input type="hidden" name="_csrf" value="c95ccb2b-1afa-47bd-bf7b-a5b72739470b">
            <input type="password" id="password" class="fadeIn third" name="password"
                   placeholder="password">
            <div>
                <p th:if="${param.error != null}" class="error">Wrong username or password!</p>
            </div>
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>

        <div id="formFooter">
            <a class="underlineHover" th:href="@{/users/register}">Don't have an account?</a>
            <br>
            <br>
            <a class="underlineHover" th:href="@{/}">Back to index page.</a>
        </div>

    </div>
</div>
<footer>
    <th:block th:include="~{fragments/footer}"/>
</footer>
</body>
</html>