<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"/>
</head>
<body>
<div id="page-container">
    <div id="content-wrap">
        <th:block th:include="~{fragments/nav-bar}"/>
        <div class="welcome">
            <p>Welcome, <span style="color: #db1414" th:text="${#authentication.getName()}"><br></span>!
                How are you today?<br>
                Check what's new in our store!</p>
        </div>

        <footer>
            <th:block th:include="~{fragments/footer}"/>
        </footer>
    </div>
</div>
</body>
</html>