<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"/>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="page-container">
    <div id="content-wrap">
        <header>
            <th:block th:include="~{fragments/nav-bar}"/>
        </header>
        <div class="Iam">

            <p>Hello!</p>
            <b>
                <div class="innerIam">
                    Login<br/>
                    or Register<br/>
                    to make a<br/>
                    order from<br/>
                    MyShop.<br/>
                </div>
            </b>
        </div>
        <footer>
            <th:block th:include="~{fragments/footer}"/>
        </footer>
    </div>
</div>
</body>
</html>